- if current_user.poker_player?
  %p{:class => 'center'}= "Click the tournament date below to see the results or RSVP."
  - @tournaments.each do |tournament|
    %h1
      %span= link_to tournament.name, tournament
    %hr
- else
  %p{:class => 'center'}
    = "Click "
    = link_to'Register', poker_registration_path
    = " to view tournament information and receive poker updates at #{current_user.email}"
