%h1
  %span= @tournament.name
  -#%span{:class => 'right'}= "Pot: $#{@tournament.total_pot}"
%hr
%table{:id => 'player_results', :class => 'player_results'}
  %tr
    %th= 'Name'
    - if @tournament.over? || @tournament.today?
      %th= 'Buy in'
      %th= 'Winnings'
  - unless @tournament.has_player? current_user
    = render :partial => 'players/show', :locals => {:player => Player.new(:user_id => current_user.id, :tournament_id => @tournament.id)}
  - @tournament.players.reject{|p|p.no_show?}.sort{|a,b|a.finish <=> b.finish}.each do |player|
    = render :partial => 'players/show', :locals => {:player => player}
  - @tournament.players.keep_if{|p|p.no_show?}.each do |player|
    = render :partial => 'players/show', :locals => {:player => player}
