%h1
  %span= @tournament.name
%hr
- unless @tournament.over?
  %div{:class => 'center'}
    You're name will be <s>striked</s> through if you RSVP No.
  %div{:class => 'center'}
    To toggle, click "I'll be there" or "Can't make it."
%br
- if current_user.admin?
  = render :partial => 'players/player', :locals => {:player => Player.new(:tournament_id => @tournament.id, :no_show => true)}
%table{:id => 'player_results', :class => 'player_results'}
  %tr
    %th= 'Name'
    - if @tournament.over? || @tournament.today?
      %th= 'Buy in'
      %th= 'Winnings'
  - @tournament.players.reject{|p|p.user_id != current_user.id}.each do |player|
    = render :partial => 'players/show', :locals => {:player => player}
  - @tournament.players.reject{|p|p.no_show?}.sort{|a,b|a.finish <=> b.finish}.each do |player|
    = render :partial => 'players/show', :locals => {:player => player} unless player.user_id == current_user.id
  - @tournament.players.reject{|p|!p.no_show?}.each do |player|
    = render :partial => 'players/show', :locals => {:player => player} unless player.user_id == current_user.id

