%h1
  %span= @tournament.name
  %span{:class => 'right'}= pluralize(@tournament.players.reject{|p|p.no_show?}.size, 'rsvp')
%hr
- if current_user.admin?
  = render :partial => 'players/player', :locals => {:player => Player.new(:tournament_id => @tournament.id, :no_show => true)}
%table{:id => 'player_results', :class => 'player_results'}
  %tr
    %th= 'Name'
    - if @tournament.over? || @tournament.today?
      %th= 'Buy in'
      %th= 'Winnings'
    - if current_user.admin? || !@tournament.over?
      %th{:class => 'rsvp_col'}= 'Rsvp'
  - @tournament.players.reject{|p|p.user_id != current_user.id}.each do |player|
    = render :partial => 'players/show', :locals => {:player => player}
  - @tournament.players.reject{|p|p.no_show?}.sort{|a,b|a.finish <=> b.finish}.each do |player|
    = render :partial => 'players/show', :locals => {:player => player} unless player.user_id == current_user.id
  - @tournament.players.reject{|p|!p.no_show?}.each do |player|
    = render :partial => 'players/show', :locals => {:player => player} unless player.user_id == current_user.id

